.help-page{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./../../../../../assets/wallpaper/background7.gif');
    background-position: 30% 45%;
}