<div class="nav-bar">
    <div class="nav-icon">
        <img src="assets/icon/mini_logo.png" alt="">
    </div>
    <div class="nav-title">
        <h4 routerLink="">SunnyBuy</h4>
    </div>
    <div class="nav-search">
        <form class="form-inline active-cyan-3 active-cyan-4">
            <input class="form-control form-control-sm ml-3 w-75" name="search" [(ngModel)]="searchText" type="text" placeholder="Search" aria-label="Search">
            
            <div class="search" *ngIf="searchText">
                <tbody>
                <tr *ngFor="let p of products | filter:searchText">
                  <td routerLink = "/products/detail/{{p.productId}}">
                      <p>
                          <i>
                              {{p.name}}
                          </i>
                      </p>
                    </td>
                </tr>
                </tbody>
              </div>
        </form>
    </div>
    <div class="nav-user_options">
        <span routerLink="/client" class="material-icons user">account_circle</span>
        <div routerLink="/cart" class="material-icons cart">
            <div class="cart-basket">
                <h6 class="count">
                    {{count}}
                </h6>
            </div>
            shopping_cart
        </div>
        <span routerLink="/help" class="material-icons help">help_outline</span>
        <span class="material-icons" [matMenuTriggerFor]="animals"> logout </span>
        <mat-menu #animals="matMenu">
            <button routerLink="/auth" mat-menu-item>Logout</button>
        </mat-menu>
    </div>
</div>