.nav-bar {
    cursor: default;
    color: #fff;
    width: 100%;
    height: 80px;
    background-color: #041125;
}

h4
{   
    font-weight: 300;
}

.nav-icon {
    cursor: default;
    text-align: right;
    padding-top: 0.5%;
    padding-left: 5%;
    width: 20%;
    float: left;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

::ng-deep .customize {
    margin-top: -15%;
    width: 20px;
    background-image: url('./../../../../assets/wallpaper/background.gif');
    border-radius: 0px 25px !important;
  }

.mat-menu-item
{

    color: white;
    text-align: center;
    padding-top: 6%;
    height: 30px;
    margin: 0;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
}

.mat-menu-item:hover
{
    background-color: #a70c14;
}


.profile-card {
    padding: 0.2% 0%;
    width: 120px;
    height: 50px;
    display: flex;
    float: right;
}

.icon {
    width: 53px;
    height: 100%;
    float: right;
    display: flex;
    overflow: hidden;
    margin-left: 25%;
    // align-items: center;
    // justify-items: center;
    border-radius: 100%;
}

.profile-picture
{
    width: 100%;
}

.icon-SB {
    width: 20%;
    animation: rotate 2s linear infinite;
}

.nav-title {
    cursor: default;
    padding: 1.5% 0% 0% 1.3%;
    text-align: left;
    width: 10%;
    float: left;
}

.nav-search {
    padding: 1.3% 0% 0% 0%;
    width: 40%;
    float: left;
}

.nav-user_options {
    padding-top: 0.6%;
    text-align: left;
    width: 15%;
    float: left;
}

.search {
    margin-left: 0.84%;
    width: 30%;
    top: 53px;
    text-align: left;
    z-index: 2;
    color: black;
    background-color: #ffffff;
    position: absolute;
    padding-left: 1%;
}

td {
    margin-top: 10px;
    font-weight: 300;
}

td:hover {
    background-color: #f0aee7;
}

.material-icons {
    cursor: default;
    color: white;
    margin-left: 6%;
}

.material-icons:hover {
    cursor: default;
    color: #f0aee7;
    margin-left: 6%;
}

.cart-basket {
    width: 16px;
    height: 12px;
    margin-top: 15%;
    display: flexbox;
    text-align: center;
    border-radius: 50%;
}

.count {
    border-radius: 50%;
    color: #fff;
    background-color: #a70c14;
    // background-color: rgb(145, 5, 91);
    font-size: 0.4em;
}
