<div class="help-header">
  <nav>
    <div class="grid-blank">
    </div>
    <div class="grid-links">
      <div class="links">
        <a routerLink="/employee-page">
          Home
        </a>
      </div>
      <div class="links">
        <a routerLink="/client">
          Employee profile
        </a>
      </div>
      <div class="links">
        <a routerLink="/employee-page">
          About us
        </a>
      </div>
    </div>
  </nav>
  <header>
    <div class="grid-1">
      <img class="image" src="./../../../assets/help/help-employee.png" alt="">
    </div>
    <div class="grid-2">
      <div class="contact-us">
        <div class="title-c-u">
          <h1 *ngFor="let n of name">HELLO {{n}} !
          </h1>
        </div>
        <div class="logo-c-u">
          <h3>SunnyBuy</h3>
          <p>Click on the button bellow to access clients<br>
            that need your support :)
          </p>
          <hr>
          <button mat-raised-button (click)="goToChat()">
            Go to chats
          </button>
          <hr>
        </div>
      </div>
    </div>
  </header>
</div>