<div class="employee-page">
  <div class="div-employee-nav">
    <div class="nav-icon">
      <img class="icon-sunny" src="./../../../../../assets/icon/mini_logo.png" alt="logo_sunnybuy">
    </div>
    <div class="nav-title">
      <h5 routerLink="/employee-page/home" class="title">SunnyBuy</h5>
    </div>
    <div class="nav-user_options">
      <div class="profile-card">

          <div class="icon">
              <img mat-button [matMenuTriggerFor]="menu" class="profile-picture" [src]="employee.image" alt="">
              <img mat-button [matMenuTriggerFor]="menu" src="assets/profile/img-default/icon.png" *ngIf="employee.image == null">
              <mat-menu #menu="matMenu"  class="customize">
                      <p routerLink="/client" mat-menu-item>Profile</p>
                      <p routerLink="/auth" mat-menu-item>Logout</p>
                  </mat-menu>
          </div>

      </div>
  </div>
  </div>
  <div class="space"></div>
  <div class="space"></div>
  <router-outlet></router-outlet>
  <div class="space"></div>
  <app-footer></app-footer>
</div>