.help-page {
    width: 100%;
    height: auto;
    padding: 0% 0% 6% 0%;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./../../../assets/wallpaper/background7.gif');
    background-position: 30% 45%;
}