.product-detail
{
    background-color: white;
    width: 100%;
    height: 530px;
    border-radius: 25px;
    padding-top: 3%;
    font-weight: 300;
}

.col-md-6
{
    margin: auto;
    background-color: #4a8aaf5d;
    border-radius: 25px;
}

p
{
    margin-left: 4%;
}

.quantity
{
    text-align: center;
}

.q
{
    margin-top: 2% !important;
}

.mr-1
{
    font-size: 18px;
}

.col-md-5
{
    border-radius: 25px;
    padding: 3%;
}

.b
{
    background-color: #096aac;
    width: 45%;
    color: #fff;
    text-align: center;
    margin-right: 5%;
    font-weight: 300;
}

.b:hover
{
    background-color: #00747c;
    color: #fff;
}

.a
{
    color: #fff;
    background-color: #ac0917;
    width: 45%;
    text-align: center;
    margin-right: 5%;
}

.a:hover
{
    color: #fff;
    background-color: #69040c;
}