<div class="client-header">
    <div class="client-header-content">
        <div class="title">
            <h1>Hello Client_Name</h1>
            <p class="msg">
                This is your profile page. You can see you personal information and edit it !
            </p>
        </div>
        <div class="info">
            <div class="account-information">
                <div class="nav-myAccount">
                    <h5>
                        My account
                    </h5>
                </div>

                <div formGroupName="clientData">
                    <p class="client_Information"> 
                        CLIENT INFORMATION
                    </p>

                    <div class="form-clientData">
                        <p>Cpf</p>
                        <p>Name</p>
                        <p>Email Address</p>
                        <p>Phone</p>
                    </div>  
                  </div>
               
            </div>
            <div class="profile">
                aaaa
            </div>
        </div>
    </div>
</div>