<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <div class="icon-nav">
        <img width="20%" src="./../../../../../assets/icon/mini_logo.png" alt="icon"> 
        <p>SunnyBuy</p>
      </div>
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Login" id="login">
            <h5 class="auth-page__group-title">Login</h5>
            <div class="auth-page__border-wrapper">
              <div class="auth-page__border-line"></div>
              <div class="auth-page__border-line"></div>
            </div>
            <app-login-form></app-login-form>
          </mat-tab>
          <mat-tab label="New User">
            <h4 class="auth-page__group-title">Sign up</h4> 
            <div class="auth-page__border-wrapper">
              <div class="auth-page__border-line"></div>
              <div class="auth-page__border-line"></div>
            </div>           
            <app-sign-form></app-sign-form>
          </mat-tab>
        </mat-tab-group>
      </div>
      </div>
</div>