.products-page
{
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./../../../assets/wallpaper/background.gif');
    background-position: 30% 45%;
}

.space
{
    height: 220px;
}