.products-page
{
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('./../../../assets/wallpaper/background.gif');
    background-position: 30% 45%;
}

.space
{
    height: 220px;
}

.products-header-container
{
    width: 70%;
    height: auto;
    padding: 1.5%;
    background-color: #faf8f534;
    margin: auto;
    border-radius:  25px 25px 25px 25px;
}
