.nav-bar{
    color: #fff;
    width: 100%;
    height: 80px;
    background-color: #041125;
}

.nav-icon{
    text-align: right;
    padding-top: 0.6%;
    padding-left: 5%;
    width: 20%;
    float: left;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

img{
    width: 20%;
    animation: rotate 2s linear infinite;
}

.nav-title{
    padding: 1.5% 0% 0% 1.3%;
    text-align: left;
    width: 10%;
    float: left;
}

.nav-search{
    padding: 1.3% 0% 0% 0%;
    width: 40%;
    float: left;
}

.nav-user_options{
    padding-top: 1.3%;
    text-align: left;
    width: 15%;
    float: left;
}

.material-icons{
    color: white;
    margin-left: 6%;
}

.material-icons:hover{
    transform: rotate(20deg);
    color: rgb(243, 193, 28);
    margin-left: 6%;
}

