.home-page
{
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-color: #e3eaf0dc;
    background-image: url('./../../../assets/wallpaper/background.gif');
    background-position: 30% 45%;
}