.carousel{
    width: 100%;
    height: 100%;
    background-color: #ffffff98;
    border-radius: 25px;
}

.product-name{
    width: 100%;
    height: 55px;
    background-color: #062249d7;
    margin: auto;
    text-align: center;
    padding-top: 1.39%;
    font-size: 1.34em;
    color: #fff;
    margin-bottom: 0.3%;
    border-radius: 25px;
    /*border: 2px solid ;*/
    font-weight: 300;
}

.product-name:hover{
    font-size: 1.31em;
    color: #3dd8ff;
}

img{
    background-image:  radial-gradient(ellipse farthest-corner at 105px 104px , #75dbfad7, #4365ccd7, #2d66b5d7, #f77cedd7, #8f00ffd7);
    border-radius: 50px;
}


.product-price{
    width: 20%;
    height: 37px;
    margin: auto;
    text-align: center;
    padding: 0.7%;
    background-color: #edededd7;
    font-size: 1.4em;
    color: #040d25;
    border-radius: 10px;
    /*border: 2px solid ;*/
    font-weight: bolder;
}

.d-block {
    width: 40%;
    margin: auto;
}
.carousel-control-next,
.carousel-control-prev , .carousel-indicators  {
    filter: invert(100%);
}