.billet-page
{
    width: 100%;
    height: auto;
}
.card {
    width: 85%;
    height: auto;
    border-radius: 25px;
    margin: auto;
    padding: 2rem 3.5rem;
    box-shadow: 0 6px 20px 0 #04386830;
    cursor: default;
}

.title {
    text-align: center;
    font-weight: 300;
}

.container {
    padding: 2%;
    height: 100%;
    border-radius: 25px;
    background-color: rgba(209, 230, 250, 0.267);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

b
{
    font-size: 1.2em;
    float: right;
    text-align: right;
}

.card-btn
{
    margin-top: 6%;
    width: 100%;
    text-align: center;
}

button
{
    font-weight: 300;
    color: white;
    width: 30%;
}

.next
{
    background-color: rgb(7, 104, 83);
}

.cancel
{
    margin-right: 5%;
    background-color: rgb(104, 7, 15);
}

.nav-item {
    padding: 0;
    width: 100%;
    height: auto;
}

.logo
{
    width: 90px;
    height: 27px;
}

p
{
    font-weight: 300;
    width: auto;
    border-radius: 25px;
    padding: 2% 3% 1.5% 3%;
    font-size: 1em;
    background-color: white;
}

.data-item
{
    margin: auto;
    padding: 1%;
    width: 90%;
    margin-top: 1%;
    height: 50%;
}

img
{
    width: 35%;
    height: 80px;
    margin: auto;
}

.billed-code {
    letter-spacing: 3px;
    width: 100%;
    height: 110px;
    text-align: center;
}



//
.modal
{
    border: none;
    background-color: none;
    margin: 0;
}

.modal-content
{
    border-radius: 15px;
    width: 400px;
    background-color: #f0f0f5;
    align-content: center;
    border: none;
}

.saved-cards{
    overflow-y: auto;
    height: 200px;
    margin-bottom: 2%;
}




// 


.address
{
    font-weight: 300;
    width: 100%;
    height: 150px;
    text-align: center;
}

p
{
    margin: auto;
}

h4
{
    margin: auto;
}

.btn-address
{
    color: black;
    margin: auto;
    font-weight: 300;
}

.saved-cards{
    overflow-y: auto;
    height: 200px;
    margin-bottom: 2%;
}

.modal
{
    border: none;
    background-color: none;
    margin: 0;
}

.modal-content
{
    border-radius: 15px;
    width: 400px;
    background-color: #f0f0f5;
    align-content: center;
    border: none;
}