@import "src/app/styles/colors";

.form {
  width: 100%;

  &__input {
    height: 11%;
    width: 100%;
    margin-top: -15px;
  }

  ::ng-deep .mat-form-field-label{
    font-size: small;
    color:#000 !important;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;

  &__create {
    background-color: #c93600;
    color: #fff;
    margin-right: 0px;
    margin: 0;
    width: 100%;
    height: 49px;
    border-radius: 0px 25px 25px 25px;
    margin-bottom: 4%;
  }

  &__homepage {
    width: 100%;
    height: 50px;
    margin: auto;
    color: white;
    border-radius: 0px 25px 25px 25px;
    background-color: #003392;
    margin-right: 0px;
  }
  
  &__homepage:hover {
    background-color: #052157;
  }
}