<div class="client-header">
    <div class="client-header-content">
        <div class="title">
            <h1>Hello {{client.name}}</h1>
            <p class="msg">
                This is your profile page. You can see you personal information and edit it !
            </p>
        </div>
        <div class="info">
            <div class="account-information">
                <div class="nav-myAccount">
                    <h5>
                        My account
                    </h5>
                </div>

                <div formGroupName="clientData">
                    <p class="client_Information">
                        CLIENT INFORMATION
                    </p>

                    <div class="form-clientData">
                        <form class="form" [formGroup]="form" (ngSubmit)="saveEditClient()">
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputName4">Name</label>
                                    <input type="text" class="form-control" placeholder="{{client.name}}"
                                        formControlName="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="inputEmail4" formControlName="email"
                                        placeholder="{{client.email}}">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputPassword4">Password</label>
                                    <input type="password" class="form-control"  placeholder="{{client.password | password }}" formControlName="password">
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputPassword4">Cpf</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="{{client.clientCpf}}" formControlName="cpf">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Phone number</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="{{client.phone}}" formControlName="phone">
                                </div>
                                <div class="form-group col-md-4">
                                </div>
                                <div class="form-group col-md-11">
                                    <label for="inputPassword4">Address</label>
                                    <input type="password" class="form-control" id="inputPassword4"
                                        placeholder="{{client.address}}" formControlName="address">
                                </div>
                            </div>
                        </form>
                        <!-- End of-->

                        <button mat-raised-button class="btn-edit-account" type="submit">Edit profile</button>
                        <button mat-raised-button class="btn-disable-account">Disable account</button>
                    </div>
                </div>

            </div>
            <div class="profile">
                <div class="modal-picture-profile">
                    <img class="profile_picture" src="./../../../../../assets/profile/profile.jpg" alt="img_profile">
                </div>
            </div>
        </div>
    </div>
</div>