.client-header{
    width: 90%;
    height: 1000px;
    background-image: url('./../../../../assets/wallpaper/background.gif');
    margin: auto;
    border-radius: 25px;
    margin-top: 2%;
    padding: 1.5%;
}

.client-header-content{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-image:  radial-gradient(ellipse farthest-corner at 105px 104px , #75dbfa, #4365cc, #2d66b5, #f77ced, #8f00ff);
    text-align: center;
}

.title{
    width: 55%;
    height: 30%;
    padding-top: 13%;
    margin-bottom: 1%;
}

button:focus { outline: none; }

.btn-edit-account{
    margin-top: 1%;
    margin-left: 2%;
    border: none;
    width: 15%;
    height: 60%;
    color: #fff;
    background-color: #052757;
}

.btn-disable-account{
    margin-bottom: 2%;
    text-align: center;
    color: #fff;
    background-color: #880c31;
}

.msg
{
    margin: 4% 0px 0px 20%;
    text-align: center;
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: 400;
}

.info{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: #fff;
    border-radius: 25px;
}

.account-information{
    background-color: #fffffacc;
    width: 68%;
    height: auto;
    margin: 6% 2% 0% 0%;
    float: left;
    text-align: left;
    border-radius: 18px;
}

.nav-myAccount
{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 18px;
    padding: 2%;
}

.client_Information{
    padding: 1.5%;
    font-size: 0.8em;
    font-weight: bold;
    color: #616060;
}

.form-clientData{
    text-align: center;
    padding-left: 3%;
}

h5{
    color: #2c2c2e;
    font-size: 1.2em;
    font-weight: bold;
}

.profile{
    padding: 1%;
    background-color: #fff;
    width: 30%;
    height: auto;
    margin-top: 5%;
    float: left;
    border-radius: 25px;
}

.profile_picture
{
    border-radius: 100%;
    width: 90%;
}

.material-icons{
    /*animation: rotate 4s linear infinite;*/
    margin-left: 3%;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.modal-picture-profile
{
    width: 400px;
    height: 400px;
    margin: auto;
    align-items: center;
    margin-top: -15%;
    border-radius: 100%;
}

h1{
    color: white;
    font-size: 3em;
    font-weight: 700;
}
        