<div class="client-header">
    <div class="client-header-content">
        <div class="title">
            <h1>Hello {{client.name}}</h1>
            <p class="msg">
                This is your profile page. You can see you personal information and edit it !
            </p>
            <button mat-raised-button class="btn-edit-account">Edit profile</button>
        </div>
        <div class="info">
            <div class="account-information">
                <div class="nav-myAccount">
                    <h5>
                        My account  
                    </h5>
                </div>

                <div formGroupName="clientData">
                    <p class="client_Information"> 
                        CLIENT INFORMATION
                    </p>

                    <div class="form-clientData">

                        <!-- Here comes the form -->
                        <form>
                            <div class="form-row" autocomplete="off">
                                <div class="form-group col-md-5">
                                    <label for="inputName4">Name</label>
                                    <input type="text" disabled class="form-control" placeholder="{{client.name}}">
                                  </div>
                              <div class="form-group col-md-5">
                                <label for="inputName4">Email</label>
                                <input type="text" disabled class="form-control" id="inputEmail4" placeholder="{{client.email}}">
                              </div>
                              <div class="form-group col-md-5">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="inputPassword4" disabled placeholder="*********">
                              </div>
                            </div>
                          </form>
                        <!-- End of-->
                        <button mat-raised-button class="btn-disable-account">Disable account</button>
                    </div>  
                  </div>
               
            </div>
            <div class="profile">
                <div class="modal-picture-profile">
                    <img class="profile_picture" src="./../../../../../assets/profile/profile.jpg" alt="img_profile">
                </div>
            </div>
        </div>
    </div>
</div>