.payment-type-header
{
    width: 80%;
    height: 85%;
    margin: auto;
    background-image:  radial-gradient(ellipse farthest-corner at 105px 104px , #75dbfa, #4365cc, #2d66b5, #f77ced, #8f00ff);
    border-radius: 25px;
    padding: 2%;
}

.payment-card
{
    padding: 2%;
    width: 100%;
    height: 100%;
    background-color: #1faa9336;
    margin: auto;
    border-radius: 25px;
}